<h1>
      Workshop Todo List
    </h1>

    <ul> <%@todos.each do |todo|%>
      <li> 
      <a href= "/todos/<%= todo.id %>">
        <%= todo.name %>
      </a> </li>
        <% end %>
      </ul> 

    <form action="/todos" method="POST">
      <input  type="hidden" name="authenticity_token"
        value="<%= form_authenticity_token %>"
        <input_type="text" name="description"/>
      <input  type="text"  name="name" placeholder="Add a new todo..."/>
      <input  type="text" name="description" placeholder="Description"/>
      <input  type="number" name="duration" placeholder="Pomodoro estimate..."/>
      <input  type="submit" value="Add todo"/>
    </form>

</ul>
