        <h1>
      Workshop Todo List
    </h1>


        <input type= "checkbox">
        <p>Make the curriculum 4 pomodoros</p>
        <a href="#">Edit</a>
        <a href="#">Delete</a>
<a href="index.html">Go Back</a>

<a href="/todos/2">Buy workshop supplies</a>
<p>Buy workshop supplies</p>
        <a href="#">Edit</a>
        <a href="#">Delete</a>
<a href="index.html">Go Back</a>
<hl> Todo <%= @todo[:id] %> </hl>

<p> <%= @todo[:name] %> </p>
<p> <%= @todo[:description] %> </p>
<p> <%= @todo[:duration] %> </p>